[submodule "3/initramfs/busybox"]
	path = 3/initramfs/busybox/busybox
	url = git://busybox.net/busybox.git
[submodule "initramfs/busybox/busybox"]
	path = initramfs_base/busybox/busybox
	url = git://busybox.net/busybox.git
